body {
    margin: 0;
    padding: 0;
    background-color: aquamarine;
    font-family: 'Architects Daughter', cursive;
}

header h1 {
    text-align: center;
}

.watNu {
    background-color: rgb(123, 219, 190);
    text-align: center;
    &__title {
        color: black;
        
    }
}

.reward {
    text-align: center;
}

.button {

    display: flex;
    justify-content: center;
}